<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<nav class="navbar" role="navigation" aria-label="Main navigation">
<a href="/"><span class="material-icons" style="font-size: 32px; color: #cecece; margin-left: 4px;">home</span></a>
  <!-- Flexible spacer pushes the links to the right on wide screens -->
  <div class="navbar-spacer"></div>
  <!-- Full menu (desktop/tablet) -->
  <div class="navbar-links">
    <a href="/ethereum"><img src="/static/imgs/icons/eth_crypto.png" alt="Ethereum" width="24" height="24" style="vertical-align: middle; margin-right: 4px;">Ethereum</a>
    <a href="/bitcoin"><img src="/static/imgs/icons/bitcoin_crypto.png" alt="Bitcoin" width="24" height="24" style="vertical-align: middle; margin-right: 4px;">Bitcoin</a>
    <a href="/stellar"><img src="/static/imgs/icons/stellar-blockchain.svg" alt="Stellar" width="24" height="24" style="vertical-align: middle; margin-right: 4px;">Stellar</a>
  </div>
  <!-- Compact breadcrumb (mobile) -->
  <nav class="navbar-breadcrumb" aria-label="Breadcrumb">
<a href="/ethereum"><img src="/static/imgs/icons/eth_crypto.png" alt="Ethereum" width="24" height="24" style="vertical-align: middle; margin-right: 4px;"></a>
    <a href="/bitcoin"><img src="/static/imgs/icons/bitcoin_crypto.png" alt="Bitcoin" width="24" height="24" style="vertical-align: middle; margin-right: 4px;"></a>
    <a href="/stellar"><img src="/static/imgs/icons/stellar-blockchain.svg" alt="Stellar" width="24" height="24" style="vertical-align: middle; margin-right: 4px;"></a>  </nav>
</nav>